.notification {
  color: black;
  background: lightseagreen;
  font-size: 32px;
  margin-bottom: 10px;
}

.error {
  color: black;
  background: lightcoral;
  font-size: 32px;
  margin-bottom: 10px;
}
